@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
    border: 2px dotted white;
    border-radius: 10px;
    background-color: rgb(94, 191, 236);
    overflow: hidden;
    margin: 10px;
}

.experience:hover{
    transform: scale(1.05);
    border: 2px solid white; 
    border-radius: 50%;
    color: #2c2b2b;
    font-weight: bold;
}

@media screen and (max-width: 576px){
    .experience{
        height: 120px;
        width: 150px;
    }
}